body {
    background-image: url(../assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(120 + 32px);
    text-align: center;
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

header hgroup {
    /*definindo background no hgroup*/
    background-image: linear-gradient(to bottom, #9572FC, #43E7AD, #E2D45C);
    /*definindo cor do texto que será mostrada caso o  navegador não execute o webkit*/
    color: #9572FC;
    /*limitando o background ao formato que o texto do hgroup ocupar*/
    background-clip: text;
    /*agora uma parte interessante é que não vamos tornar o texto diretamenre colorido, mas sim fazer com que ele meio que ganhe um atributo chamado "webkit", que foi responsável por vincular anteriormente o texto e o background. Aqui daremos uma ordem para que o webkit deixe o texto transparente, deixando que as cores definidas de fundo apareção no formato em que o texto ocupa. Por conta de como isso funciona, até mesmo emojis seriam afetados por essa ordem e também refletiriam a cor de fundo fixada pelo "background-clip: text;".*/
    -webkit-background-clip: text;

    /*Agora vamos adicionar transparência ao texto utilizando o webkit, que foi vinculado ao background e ao texto.*/
    -webkit-text-fill-color: transparent;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    margin-top: 32px;
}

section {
    color: aliceblue;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}

